#root {
  width: 100%;
  height: 100vh;
}

.auth-container {
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.login-user-profile-img {
  width: inherit;
  margin: auto;
  display: block;
}
.user-profile-img {
  width: -webkit-fill-available;
  width: -moz-available;
}
.login-user-profile-img {
  width: inherit;
  display: block;
  margin: auto;
}

#userProfileInput {
  display: none;
}

input {
  background: #faebd8 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-faebd8 {
  background-color: #faebd8 !important;
}
.create-user-container {
  width: max-content !important;
}
/* .form-group {
  overflow: hidden;
} */

.form-control {
  /* box-sizing: content-box; */
  height: auto;
}
@media (min-width: 768px) {
  .auth-container {
    height: 100vh !important;
    display: flex;
  }
}
